@font-face {
    font-family: 'pc-icon';
    src: url('fonts/PlayIcons-Regular.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
}

.font-smooth {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

.font-thin {
    font-weight: 100;
    font-style: normal;
}

.font-light {
    font-weight: 200;
    font-style: normal;
}

.font-regular {
    font-weight: normal;
    font-style: normal;
}

.font-bold {
    font-weight: bold;
    font-style: normal;
}

.font-icon {
    font-family: 'pc-icon';
    @extend .font-smooth;
}

.fixedFont {
    font-family: inconsolatamedium, Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    font-weight: normal;
    font-size: 12px;
}